In [4]:
#!pip install simpledbf

Collecting simpledbf
  Downloading https://files.pythonhosted.org/packages/8a/d3/e4c25cd8f739dd7ddd19c255cd5552e08cdd439ac51a36ae12640ce8a748/simpledbf-0.2.6.tar.gz
Building wheels for collected packages: simpledbf
  Running setup.py bdist_wheel for simpledbf: started
  Running setup.py bdist_wheel for simpledbf: finished with status 'done'
  Stored in directory: C:\Users\rama_\AppData\Local\pip\Cache\wheels\72\dd\df\cdfb970a508ef9750ebb4b6e035a3410c3d62b5a6a91d2aafc
Successfully built simpledbf
Installing collected packages: simpledbf
Successfully installed simpledbf-0.2.6

In [1]:
import pandas as pd
import numpy as np
import re
import requests
from simpledbf import Dbf5

## Formaciones despachadas

In [2]:
dataportal=pd.read_csv('formaciones-despachadas (1).csv', sep=';')

C:\Users\rama_\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data = Dbf5('sere0718.dbf', codec='Latin-1')

In [4]:
data = data.to_dataframe()

In [5]:
dataportal.head()

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,FR1_KM,FR1_KMV,FR1_VIAC1,FR1_VIAC2,FR1_SALC1,FR1_SALC2,FR1_SCAUC2,FR1_SCAUC1
0,01/01/2015,C,F,117,117,3,,,6,0,"4,294",0,S,N,22:15:00,00:00:00,,
1,01/01/2015,C,F,118,118,4,,,6,0,"4,294",0,S,N,22:21:15,00:00:00,,
2,01/01/2015,E,F,35,35,6,,CD,4,4,"9,542",0,S,N,11:52:57,12:16:00,,
3,01/01/2015,E,F,49,49,2,,FC,4,4,"9,542",0,S,N,13:44:10,14:08:00,,
4,01/01/2015,E,F,56,56,3,,FC,4,4,"9,542",0,S,N,14:42:10,15:04:00,,

In [6]:
data=data[['FR1_FECHA', 'FR1_LINEA', 'FR1_TIPO', 'FR1_REGIST', 'FR1_ORDEN', 'FR1_TREN', 'FR1_CAUC1', 'FR1_CAUC2', 'FR1_COCC1', 'FR1_COCC2', 'FR1_KM', 'FR1_KMV', 'FR1_VIAC1', 'FR1_VIAC2', 'FR1_SALC1', 'FR1_SALC2', 'FR1_SCAUC2', 'FR1_SCAUC1']]

In [7]:
data

,FR1_FECHA,FR1_LINEA,FR1_TIPO,FR1_REGIST,FR1_ORDEN,FR1_TREN,FR1_CAUC1,FR1_CAUC2,FR1_COCC1,FR1_COCC2,FR1_KM,FR1_KMV,FR1_VIAC1,FR1_VIAC2,FR1_SALC1,FR1_SALC2,FR1_SCAUC2,FR1_SCAUC1
0,010718,A,D,1,1,4,NaN,NaN,5,5,9.721,9.721,N,N,07:18:00,07:45:00,NaN,NaN
1,010718,A,D,2,2,5,NaN,NaN,5,5,9.721,9.721,N,S,07:32:00,08:00:30,NaN,NaN
2,010718,A,D,3,3,6,NaN,NaN,5,5,9.721,9.721,N,S,07:42:00,08:09:30,NaN,NaN
3,010718,A,D,4,4,7,NaN,NaN,5,5,9.721,9.721,N,S,07:52:00,08:20:00,NaN,NaN
4,010718,A,D,5,5,1,NaN,NaN,5,5,9.721,9.721,S,S,08:00:00,08:28:00,NaN,NaN
5,010718,A,D,6,6,2,NaN,NaN,5,5,9.721,9.721,S,S,08:08:00,08:36:00,NaN,NaN
6,010718,A,D,7,7,3,NaN,NaN,5,5,9.721,9.721,S,S,08:16:00,08:44:00,NaN,NaN
7,010718,A,D,8,8,4,NaN,NaN,5,5,9.721,9.721,S,S,08:24:00,08:52:00,NaN,NaN
8,010718,A,D,9,9,5,NaN,NaN,5,5,9.721,9.721,S,S,08:32:00,09:00:00,NaN,NaN
9,010718,A,D,10,10,6,NaN,NaN,5,5,9.721,9.721,S,S,08:40:00,09:08:00,NaN,NaN
10,010718,A,D,11,11,7,NaN,NaN,5,5,9.721,9.721,S,S,08:48:00,09:16:00,NaN,NaN
11,010718,A,D,12,12,1,NaN,NaN,5,5,9.721,9.721,S,S,08:56:00,09:24:00,NaN,NaN
12,010718,A,D,13,13,2,NaN,NaN,5,5,9.721,9.721,S,S,09:04:00,09:32:00,NaN,NaN
13,010718,A,D,14,14,3,NaN,NaN,5,5,9.721,9.721,S,S,09:12:00,09:40:00,NaN,NaN
14,010718,A,D,15,15,4,NaN,NaN,5,5,9.721,9.721,S,S,09:20:00,09:48:00,NaN,NaN
15,010718,A,D,16,16,5,NaN,NaN,5,5,9.721,9.721,S,S,09:28:00,09:56:00,NaN,NaN
16,010718,A,D,17,17,6,NaN,NaN,5,5,9.721,9.721,S,S,09:36:00,10:04:00,NaN,NaN
17,010718,A,D,18,18,7,NaN,NaN,5,5,9.721,9.721,S,S,09:44:00,10:12:00,NaN,NaN
18,010718,A,D,19,19,1,NaN,NaN,5,5,9.721,9.721,S,S,09:52:00,10:20:00,NaN,NaN
19,010718,A,D,20,20,2,NaN,NaN,5,5,9.721,9.721,S,S,10:00:00,10:28:00,NaN,NaN
20,010718,A,D,21,21,3,NaN,NaN,5,5,9.721,9.721,S,S,10:08:00,10:36:00,NaN,NaN
21,010718,A,D,22,22,4,NaN,NaN,5,5,9.721,9.721,S,S,10:16:00,10:44:00,NaN,NaN
22,010718,A,D,23,23,5,NaN,NaN,5,5,9.721,9.721,S,S,10:24:00,10:52:00,NaN,NaN
23,010718,A,D,24,24,6,NaN,NaN,5,5,9.721,9.721,S,S,10:32:00,11:00:00,NaN,NaN
24,010718,A,D,25,25,7,NaN,NaN,5,5,9.721,9.721,S,S,10:40:00,11:08:00,NaN,NaN
25,010718,A,D,26,26,1,NaN,NaN,5,5,9.721,9.721,S,S,10:48:00,11:16:00,NaN,NaN
26,010718,A,D,27,27,2,NaN,NaN,5,5,9.721,9.721,S,S,10:56:00,11:24:00,NaN,NaN
27,010718,A,D,28,28,3,NaN,NaN,5,5,9.721,9.721,S,S,11:04:00,11:32:00,NaN,NaN
28,010718,A,D,29,29,4,NaN,NaN,5,5,9.721,9.721,S,S,11:12:00,11:40:00,NaN,NaN
29,010718,A,D,30,30,5,NaN,NaN,5,5,9.721,9.721,S,S,11:20:00,11:48:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46592,310718,P,H,100,100,3,NaN,NaN,1,0,14.8,0,S,N,17:27:20,00:00:00,NaN,NaN
46593,310718,P,H,101,101,4,NaN,NaN,1,0,14.8,0,S,N,17:34:45,00:00:00,NaN,NaN
46594,310718,P,H,102,102,5,NaN,NaN,1,0,12.8,0,S,N,17:43:00,00:00:00,NaN,NaN
46595,310718,P,H,103,103,6,NaN,NaN,1,0,14.8,0,S,N,17:53:00,00:00:00,NaN,NaN
46596,310718,P,H,104,104,7,NaN,NaN,1,0,12.8,0,S,N,18:03:00,00:00:00,NaN,NaN
46597,310718,P,H,105,105,8,FC,NaN,1,0,0,0,N,N,18:05:45,00:00:00,NaN,NaN
46598,310718,P,H,106,106,1,NaN,NaN,1,0,14.8,0,S,N,18:13:00,00:00:00,NaN,NaN
46599,310718,P,H,107,107,2,CD,NaN,1,0,0,0,N,N,18:19:40,00:00:00,NaN,NaN
46600,310718,P,H,108,108,3,NaN,NaN,1,0,12.8,0,S,N,18:23:00,00:00:00,NaN,NaN
46601,310718,P,H,109,109,4,FC,NaN,1,0,0,0,N,N,18:34:00,00:00:00,NaN,NaN
46602,310718,P,H,110,110,5,NaN,NaN,1,0,14.8,0,S,N,18:41:00,00:00:00,NaN,NaN
46603,310718,P,H,111,111,6,NaN,NaN,1,0,12.8,0,S,N,18:49:00,00:00:00,NaN,NaN
46604,310718,P,H,112,112,7,NaN,NaN,1,0,14.8,0,S,N,18:57:00,00:00:00,NaN,NaN
46605,310718,P,H,113,113,8,NaN,NaN,1,0,12.8,0,S,N,19:07:00,00:00:00,NaN,NaN
46606,310718,P,H,114,114,1,CD,NaN,1,0,0,0,N,N,19:12:00,00:00:00,NaN,NaN
46607,310718,P,H,115,115,2,NaN,NaN,1,0,14.8,0,S,N,19:20:00,00:00:00,NaN,NaN
46608,310718,P,H,116,116,3,CD,NaN,1,0,0,0,N,N,19:26:00,00:00:00,NaN,NaN
46609,310718,P,H,117,117,4,NaN,NaN,1,0,12.8,0,S,N,19:33:00,00:00:00,NaN,NaN
46610,310718,P,H,118,118,5,NaN,NaN,1,0,14.8,0,S,N,19:40:00,00:00:00,NaN,NaN
46611,310718,P,H,119,119,6,NaN,NaN,1,0,14.8,0,S,N,19:47:00,00:00:00,NaN,NaN
46612,310718,P,H,120,120,7,NaN,NaN,1,0,12.8,0,S,N,19:58:00,00:00:00,NaN,NaN
46613,310718,P,H,121,121,8,FC,NaN,1,0,0,0,N,N,20:02:00,00:00:00,NaN,NaN
46614,310718,P,H,122,122,1,NaN,NaN,1,0,14.8,0,S,N,20:10:00,00:00:00,NaN,NaN
46615,310718,P,H,123,123,2,NaN,NaN,1,0,12.8,0,S,N,20:20:00,00:00:00,NaN,NaN
46616,310718,P,H,124,124,3,FC,NaN,1,0,0,0,N,N,20:24:00,00:00:00,NaN,NaN
46617,310718,P,H,125,125,4,NaN,NaN,1,0,14.8,0,S,N,20:30:00,00:00:00,NaN,NaN
46618,310718,P,H,126,126,5,CD,NaN,1,0,0,0,N,N,20:38:00,00:00:00,NaN,NaN
46619,310718,P,H,127,127,6,NaN,NaN,1,0,12.8,0,S,N,20:40:00,00:00:00,NaN,NaN
46620,310718,P,H,128,128,7,NaN,NaN,1,0,14.8,0,S,N,20:50:00,00:00:00,NaN,NaN
46621,310718,P,H,129,129,8,NaN,NaN,1,0,12.8,0,S,N,21:00:00,00:00:00,NaN,NaN

In [8]:
data.FR1_FECHA=data.FR1_FECHA.apply(lambda x: pd.to_datetime(x, dayfirst=True))

In [9]:
data.columns=['fr1_fecha', 'fr1_linea', 'fr1_tipo', 'fr1_regist', 'fr1_orden',
       'fr1_tren', 'fr1_cauc1', 'fr1_cauc2', 'fr1_cocc1', 'fr1_cocc2',
       'fr1_km', 'fr1_kmv', 'fr1_viac1', 'fr1_viac2', 'fr1_salc1', 'fr1_salc2',
       'fr1_scauc2', 'fr1_scauc1']

In [12]:
dataportal.FR1_FECHA=dataportal.FR1_FECHA.apply(lambda x: pd.to_datetime(x, dayfirst=True))

In [13]:
dataportal.columns=['fr1_fecha', 'fr1_linea', 'fr1_tipo', 'fr1_regist', 'fr1_orden',
       'fr1_tren', 'fr1_cauc1', 'fr1_cauc2', 'fr1_cocc1', 'fr1_cocc2',
       'fr1_km', 'fr1_kmv', 'fr1_viac1', 'fr1_viac2', 'fr1_salc1', 'fr1_salc2',
       'fr1_scauc2', 'fr1_scauc1']

In [14]:
data2=pd.concat([dataportal,data], axis=0)

In [15]:
data2

,fr1_fecha,fr1_linea,fr1_tipo,fr1_regist,fr1_orden,fr1_tren,fr1_cauc1,fr1_cauc2,fr1_cocc1,fr1_cocc2,fr1_km,fr1_kmv,fr1_viac1,fr1_viac2,fr1_salc1,fr1_salc2,fr1_scauc2,fr1_scauc1
0,2015-01-01,C,F,117,117,3,,,6,0,"4,294",0,S,N,22:15:00,00:00:00,,
1,2015-01-01,C,F,118,118,4,,,6,0,"4,294",0,S,N,22:21:15,00:00:00,,
2,2015-01-01,E,F,35,35,6,,CD,4,4,"9,542",0,S,N,11:52:57,12:16:00,,
3,2015-01-01,E,F,49,49,2,,FC,4,4,"9,542",0,S,N,13:44:10,14:08:00,,
4,2015-01-01,E,F,56,56,3,,FC,4,4,"9,542",0,S,N,14:42:10,15:04:00,,
5,2015-01-01,A,F,87,87,6,V,V,5,5,0,0,N,N,20:54:40,21:22:40,INCIDENTE CON PASAJEROS,INCIDENTE CON PASAJEROS
6,2015-01-01,A,F,88,88,1,V,V,5,5,0,0,N,N,21:04:00,21:32:00,INCIDENTE CON PASAJEROS,INCIDENTE CON PASAJEROS
7,2015-01-01,B,F,1,1,3,V,V,6,6,0,0,N,N,07:20:00,07:48:00,OBRA SBASE,OBRA SBASE
8,2015-01-01,B,F,2,2,4,V,V,6,6,0,0,N,N,07:26:00,07:55:00,OBRA SBASE,OBRA SBASE
9,2015-01-01,B,F,3,3,5,V,V,6,6,0,0,N,N,07:31:00,08:00:00,OBRA SBASE,OBRA SBASE
10,2015-01-01,B,F,4,4,6,V,V,6,6,0,0,N,N,07:40:00,08:09:15,OBRA SBASE,OBRA SBASE
11,2015-01-01,B,F,5,5,7,V,V,6,6,0,0,N,N,07:50:00,08:19:30,OBRA SBASE,OBRA SBASE
12,2015-01-01,B,F,6,6,1,V,V,6,6,0,0,N,N,08:00:00,08:28:15,OBRA SBASE,OBRA SBASE
13,2015-01-01,B,F,7,7,2,V,V,6,6,0,0,N,N,08:08:05,08:36:20,OBRA SBASE,OBRA SBASE
14,2015-01-01,B,F,8,8,3,V,V,6,6,0,0,N,N,08:16:10,08:44:25,OBRA SBASE,OBRA SBASE
15,2015-01-01,B,F,9,9,4,V,V,6,6,0,0,N,N,08:24:15,08:52:30,OBRA SBASE,OBRA SBASE
16,2015-01-01,B,F,10,10,5,V,V,6,6,0,0,N,N,08:32:20,09:00:35,OBRA SBASE,OBRA SBASE
17,2015-01-01,B,F,11,11,6,V,V,6,6,0,0,N,N,08:40:25,09:08:40,OBRA SBASE,OBRA SBASE
18,2015-01-01,B,F,12,12,7,V,V,6,6,0,0,N,N,08:48:30,09:16:45,OBRA SBASE,OBRA SBASE
19,2015-01-01,B,F,13,13,1,V,V,6,6,0,0,N,N,08:56:35,09:24:50,OBRA SBASE,OBRA SBASE
20,2015-01-01,B,F,14,14,2,V,V,6,6,0,0,N,N,09:04:40,09:32:55,OBRA SBASE,OBRA SBASE
21,2015-01-01,B,F,15,15,3,V,V,6,6,0,0,N,N,09:12:45,09:41:00,OBRA SBASE,OBRA SBASE
22,2015-01-01,B,F,16,16,4,V,V,6,6,0,0,N,N,09:20:50,09:49:05,OBRA SBASE,OBRA SBASE
23,2015-01-01,B,F,17,17,5,V,V,6,6,0,0,N,N,09:28:55,09:57:10,OBRA SBASE,OBRA SBASE
24,2015-01-01,B,F,18,18,6,V,V,6,6,0,0,N,N,09:37:00,10:05:15,OBRA SBASE,OBRA SBASE
25,2015-01-01,B,F,19,19,7,V,V,6,6,0,0,N,N,09:45:05,10:13:20,OBRA SBASE,OBRA SBASE
26,2015-01-01,B,F,20,20,1,V,V,6,6,0,0,N,N,09:53:10,10:21:25,OBRA SBASE,OBRA SBASE
27,2015-01-01,B,F,21,21,2,V,V,6,6,0,0,N,N,10:01:15,10:29:30,OBRA SBASE,OBRA SBASE
28,2015-01-01,B,F,22,22,3,V,V,6,6,0,0,N,N,10:09:20,10:37:35,OBRA SBASE,OBRA SBASE
29,2015-01-01,B,F,23,23,4,V,V,6,6,0,0,N,N,10:17:25,10:45:40,OBRA SBASE,OBRA SBASE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46592,2018-07-31,P,H,100,100,3,NaN,NaN,1,0,14.8,0,S,N,17:27:20,00:00:00,NaN,NaN
46593,2018-07-31,P,H,101,101,4,NaN,NaN,1,0,14.8,0,S,N,17:34:45,00:00:00,NaN,NaN
46594,2018-07-31,P,H,102,102,5,NaN,NaN,1,0,12.8,0,S,N,17:43:00,00:00:00,NaN,NaN
46595,2018-07-31,P,H,103,103,6,NaN,NaN,1,0,14.8,0,S,N,17:53:00,00:00:00,NaN,NaN
46596,2018-07-31,P,H,104,104,7,NaN,NaN,1,0,12.8,0,S,N,18:03:00,00:00:00,NaN,NaN
46597,2018-07-31,P,H,105,105,8,FC,NaN,1,0,0,0,N,N,18:05:45,00:00:00,NaN,NaN
46598,2018-07-31,P,H,106,106,1,NaN,NaN,1,0,14.8,0,S,N,18:13:00,00:00:00,NaN,NaN
46599,2018-07-31,P,H,107,107,2,CD,NaN,1,0,0,0,N,N,18:19:40,00:00:00,NaN,NaN
46600,2018-07-31,P,H,108,108,3,NaN,NaN,1,0,12.8,0,S,N,18:23:00,00:00:00,NaN,NaN
46601,2018-07-31,P,H,109,109,4,FC,NaN,1,0,0,0,N,N,18:34:00,00:00:00,NaN,NaN
46602,2018-07-31,P,H,110,110,5,NaN,NaN,1,0,14.8,0,S,N,18:41:00,00:00:00,NaN,NaN
46603,2018-07-31,P,H,111,111,6,NaN,NaN,1,0,12.8,0,S,N,18:49:00,00:00:00,NaN,NaN
46604,2018-07-31,P,H,112,112,7,NaN,NaN,1,0,14.8,0,S,N,18:57:00,00:00:00,NaN,NaN
46605,2018-07-31,P,H,113,113,8,NaN,NaN,1,0,12.8,0,S,N,19:07:00,00:00:00,NaN,NaN
46606,2018-07-31,P,H,114,114,1,CD,NaN,1,0,0,0,N,N,19:12:00,00:00:00,NaN,NaN
46607,2018-07-31,P,H,115,115,2,NaN,NaN,1,0,14.8,0,S,N,19:20:00,00:00:00,NaN,NaN
46608,2018-07-31,P,H,116,116,3,CD,NaN,1,0,0,0,N,N,19:26:00,00:00:00,NaN,NaN
46609,2018-07-31,P,H,117,117,4,NaN,NaN,1,0,12.8,0,S,N,19:33:00,00:00:00,NaN,NaN
46610,2018-07-31,P,H,118,118,5,NaN,NaN,1,0,14.8,0,S,N,19:40:00,00:00:00,NaN,NaN
46611,2018-07-31,P,H,119,119,6,NaN,NaN,1,0,14.8,0,S,N,19:47:00,00:00:00,NaN,NaN
46612,2018-07-31,P,H,120,120,7,NaN,NaN,1,0,12.8,0,S,N,19:58:00,00:00:00,NaN,NaN
46613,2018-07-31,P,H,121,121,8,FC,NaN,1,0,0,0,N,N,20:02:00,00:00:00,NaN,NaN
46614,2018-07-31,P,H,122,122,1,NaN,NaN,1,0,14.8,0,S,N,20:10:00,00:00:00,NaN,NaN
46615,2018-07-31,P,H,123,123,2,NaN,NaN,1,0,12.8,0,S,N,20:20:00,00:00:00,NaN,NaN
46616,2018-07-31,P,H,124,124,3,FC,NaN,1,0,0,0,N,N,20:24:00,00:00:00,NaN,NaN
46617,2018-07-31,P,H,125,125,4,NaN,NaN,1,0,14.8,0,S,N,20:30:00,00:00:00,NaN,NaN
46618,2018-07-31,P,H,126,126,5,CD,NaN,1,0,0,0,N,N,20:38:00,00:00:00,NaN,NaN
46619,2018-07-31,P,H,127,127,6,NaN,NaN,1,0,12.8,0,S,N,20:40:00,00:00:00,NaN,NaN
46620,2018-07-31,P,H,128,128,7,NaN,NaN,1,0,14.8,0,S,N,20:50:00,00:00:00,NaN,NaN
46621,2018-07-31,P,H,129,129,8,NaN,NaN,1,0,12.8,0,S,N,21:00:00,00:00:00,NaN,NaN

In [16]:
data2.to_csv('formaciones-despachadas-subte-20181001.csv', index=False)

## Estado de Flota

In [2]:
data2=pd.read_excel('Estado de la Flota_jul 2018.xlsx')

In [3]:
data2

,mes,aÃ±o,linea,flota,en servicio,reserva,rg,mantenimiento_estacionamiento,alistamiento
0,7,2018,A,CNR,17,3.0,NaN,1.0,1.0
1,7,2018,B,Mitsub.,12,NaN,2.0,2.0,NaN
2,7,2018,B,CAF 5',0,NaN,NaN,6.0,NaN
3,7,2018,B,CAF 6',9,NaN,NaN,1.0,1.0
4,7,2018,C,CNR,0,NaN,NaN,NaN,1.0
5,7,2018,C,Nagoya,6,NaN,NaN,4.0,1.0
6,7,2018,C,Nagoya 5000,4,NaN,NaN,NaN,NaN
7,7,2018,D,Alstom 100,12,1.0,1.0,NaN,1.0
8,7,2018,D,Alstom 300,5,NaN,NaN,1.0,NaN
9,7,2018,D,Fiat,4,NaN,NaN,NaN,NaN
10,7,2018,E,GEE,5,NaN,4.0,2.0,NaN
11,7,2018,E,Fiat,6,NaN,NaN,3.0,1.0
12,7,2018,H,Alstom 300,10,NaN,NaN,4.0,1.0
13,7,2018,P,Materfer,8,NaN,1.0,3.0,NaN

In [4]:
data2['reserva']=data2['reserva'].fillna(0).astype(int)
data2['rg']=data2['rg'].fillna(0).astype(int)
data2['mantenimiento_estacionamiento']=data2['mantenimiento_estacionamiento'].fillna(0).astype(int)
data2['alistamiento']=data2['alistamiento'].fillna(0).astype(int)

In [5]:
data2.columns=['mes', 'aÃ±o', 'linea', 'flota', 'en_servicio', 'reserva', 'rg',
       'mantenimiento_estacionamiento', 'alistamiento']

In [6]:
dataportal=pd.read_csv('estado-de-flota.csv', sep=';')

In [7]:
dataportal.columns=['mes', 'aÃ±o', 'linea', 'flota', 'en_servicio', 'reserva', 'rg',
       'mantenimiento_estacionamiento', 'judicial', 'alistamiento']

In [8]:
dataportal=dataportal[['mes', 'aÃ±o', 'linea', 'flota', 'en_servicio', 'reserva', 'rg',
       'mantenimiento_estacionamiento', 'alistamiento']]

In [9]:
data3=pd.concat([dataportal, data2], axis=0)

In [10]:
data3=data3.reset_index()

In [13]:
data3=data3[['mes', 'aÃ±o', 'linea', 'flota', 'en_servicio', 'reserva', 'rg',
       'mantenimiento_estacionamiento', 'alistamiento']]

In [14]:
data3.to_csv('estado-de-flota-subte-20180912.csv', index=False)